$list-color: #cdd2b4;
$text-color: #40513b;
$list-hover: #b4b7a1;

.expanded {
  flex-direction: column;
  align-items: center;
  line-height: 3;
  transition: all 1s;

  &:hover {
    background-color: $list-color;
  }
}

li {
  border-radius: 10px;
  box-shadow: 0 5px 5px black;
  margin-bottom: 20px;
  text-align: center;
  padding: 30px;
  width: 90%;
  list-style: none;
  border-bottom: 2px solid gray;
  background-color: $list-color;
  color: $text-color;
  user-select: none;
  cursor: pointer;

  &:hover {
    background-color: $list-hover;
    scale: .98;
  }
}

@media only screen and (max-width: 768px) {
  .expanded {
    line-height: 2;
  }
}